StudentSystem/StudentSystemClient/Service References/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PresentationServiceTier" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PresentationServiceTier" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfStudentC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StudentC" nillable="true" type="tns:StudentC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStudentC" nillable="true" type="tns:ArrayOfStudentC" />
  <xs:complexType name="StudentC">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="DOB" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GPA" type="xs:double" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StudentId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StudentC" nillable="true" type="tns:StudentC" />
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
</xs:schema>